body{
    background-color: black;
}
.imagenes1{
    height: 300px; width: 300px;
    border: 2px solid; 
}
.border1{
    height: 300px; width: 300px;
}

h1{
    background-color: rgb(236, 248, 10);
    color: rgb(170, 0, 0);
    text-align: center;
}



/* Slider */


.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 15s infinite;
    animation-direction: alternate;
}
.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

h2 Bienvenida{
    color: aqua;
}


.bienvenida{
    color: black; size: 10px; text-align: center;
}
.intro{
    text-align: center; color: black; align-items: left;
}
main{
    background-color: blueviolet; border: black 5px solid;
}
.formulario{
    align-items: center;
    color: white
}
.formulario-texto{
    text-align: center;
    color: beige;
}
.pinsgatos{
    background-color: darkmagenta;
}
.pinsanime{
    background-color: darkslateblue;
}
.pinsvideojuegos{
    background-color: mediumpurple;
}
h3{
    background-color: violet;
    color: black;
    text-align: center;
}
.header1{
    color: red;
}
.texto-saludo{
    color: black; text-align: center;
}