body{
    background-color: black;
}
.imagenes1{
    height: 300px; width: 300px;
    border: 2px solid; 
}
.border1{
    height: 300px; width: 300px;
}

h1{
    background-color: rgb(236, 248, 10);
    color: rgb(170, 0, 0);
    text-align: center;
}
.texto-bienvenida{
    background-image: url(https://cdn.shopify.com/s/files/1/0203/0046/collections/Pins-Instagram.jpg?v=1560459278);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px black solid;
    
}



h2 Bienvenida{
    color: aqua;
}


.bienvenida{
    color: black; size: 10px; text-align: center;
}
.intro{
    text-align: center; color: black; align-items: left;
}
main{
    background-color: blueviolet; border: black 5px solid;
}
.formulario{
    align-items: center;
    color: white
}
.formulario-texto{
    text-align: center;
    color: beige;
}
.pinsgatos{
    background-color: darkmagenta;
}
.pinsanime{
    background-color: darkslateblue;
}
.pinsvideojuegos{
    background-color: mediumpurple;
}
h3{
    background-color: violet;
    color: black;
    text-align: center;
}
.header1{
    color: red;
}
.texto-saludo{
    color: rgb(255, 255, 255); text-align: center; background-color: black;
}

#goTop {
    position: fixed;
    top: 60px;
    right: 20px;
    color: transparent;
    position: top;
    }

.formulariojs{
        background-color: white; color: black;
    }